// Estilos normales a toda la web
html
    scroll-behavior: smooth

body
    background color_fondo
    font-size 110%
    font-family "Open Sans"
    color color_texto
    line-height 150%

h1, h2, h3, h4, h5, h6
    font-family fuente_titulo

blockquote, pre, code, kbd, samp, sub, sup, small, strong
    font-family fuente_subtitulo
    font-weight bolder
