/* Encabezados */

.encabezado__barra
	background color_negro
	display flex
	justify-content space-between
	position sticky
	top 0

	&__logo
		height 50px
		overflow hidden
		width 200px

		&-imagen
			width 100%
	