/* Encabezados */

.encabezado
	background color_negro
	display flex
	position relative
	justify-content stretch

	&__logo
		height 50px
		overflow hidden
		width 200px

		&-imagen
			width 100%
	

	&__navegacion
		width 100%