/********************************** Fuentes ***********************************/
@font-face
	font-family 'Fjord'
	font-style normal
	font-weight 400
	src url('../fonts/fjord-one.eot')
	src local('OpenSans'), url('../fonts/fjord-one.eot') format('embedded-opentype'), url('../fonts/fjord-one.ttf') format('truetype'), url('../fonts/fjord-one.svg#Fjord-One') format('svg'), url('../fonts/fjord-one.woff') format('woff')

@font-face
	font-family 'Roboto'
	src url('../fonts/RobotoCondensed-Regular-webfont.eot')
	src url('../fonts/RobotoCondensed-Regular-webfont.eot') format('embedded-opentype'), url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'), url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src url('../fonts/open-sans.eot')
	src local('OpenSans'), url('../fonts/open-sans.eot') format('embedded-opentype'), url('../fonts/open-sans.ttf') format('truetype'), url('../fonts/open-sans.svg#OpenSans') format('svg'), url('../fonts/open-sans.woff') format('woff')
