// Normalizando estilos
@import '../node_modules/nib'
@import 'normalizando'
@import 'icomoon'
@import 'fuentes'
@import 'variables'
@import 'body'
@import 'columnas'
@import 'encabezado'
@import 'navegacion'
@import 'home'