// Colores
color_blanco = #fff
color_texto = #aaa
color_titulo = #F2075D
color_subtitulo = #D70CF2
color_subtitulo_2 = #F20775
color_fondo = #070A0D
color_advertencia = #F2E41B
color_negro = #040507

// Fuentes
fuente_letra = "Open Sans"
fuente_titulo = "Roboto"
fuente_subtitulo = "Fjord"